<% include templates/header %>
<% include templates/banner %>
<% include templates/errorBanner %>

<h1 class="text-center shaded padded">Polemios<br /></h1>
<div class="container text-center">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-sm-12 padded">
			<div class="shaded padded">
				<p class="text-center">The realm of Polemios is at war, great empires moving their pieces across the board. Will you, wayward mercenary, fight for tradition, or alongside the industrial war machine, or simply in search of riches and glory?</p><br />
				<p class="text-center">Begin your journey, but be weary, mere men are not the only ones with eyes for Polemios...</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 padded">
			<div class="shaded padded">
				<a href="/">Home</a><br />
				<a href="/user/signup">Register</a><br />
				<a href="/game/create">Create Character</a><br />
				<a href="/game/play">Play</a><br />
				<a href="/forum">Forum</a><br />
				<a href="/maps">World Maps</a><br />
				<a href="https://github.com/ScreamingHawk/polemios">GitHub</a><br />
				<a href="http://www.wikipedia.org">Wiki</a><br />
			</div>
		</div>
		<div class="col-md-6 col-sm-9 padded">
			<div class="shaded padded">
				<h2>Announcements</h2>
				<h4><b>It Begins</b></h4>
				<h5>TundraTheJust - 12/9/16</h5>
				<p>Welcome to Polemios! Here is a quick summary of the game and where we plan to take:</p>
				<p>Polemios is an homage to the old browser mud Shimlar tweaked and improved to make the experience more varied, complex, and enjoyable. There are two of us working on Polemios, one that actually knows how to use a computer and another who sacrifices just enough virgins to the coding gremlins to get by.</p>
				<p>The broad plan is to create a world where players will fight for riches and glory and support one of the three factions in their respective quests over Polemios. These factions are represented in different areas throughout the world map and the three broad equipment types (Glow, Bright, and Flicker). We plan for faction to have a huge influence in gameplay both in and out of combat through a reputation system. Stat growth is done organically as you use your skills rather than an experience and leveling system and only increase if you are fighting tougher enemies.</p>
				<p>Currently it's almost at a minimum viable product and only has basic functions complete like creating a character, moving around the starting area, purchasing equipment, and the chat. The next features to be added are moving between zones, pve combat, and pvp. More tiers for equipment will be added as we go at every stage.</p>
				<br />
			</div>
		</div>
	</div>
</div>

<% include templates/chatbox %>
<% include templates/footer %>