<% include templates/header %>
<% include templates/banner %>
<% include templates/errorBanner %>

<h1 class="text-center shaded padded">Polemios<br /></h1>
<div class="container text-center">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-sm-12 padded">
			<div class="shaded padded">
				<p class="text-center">The realm of Polemios is at war, great empires moving their pieces across the board. Will you, wayward mercenary, fight for tradition, or alongside the industrial war machine, or simply in search of riches and glory?</p><br />
				<p class="text-center">Begin your journey, but be weary, mere men are not the only ones with eyes for Polemios...</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 padded">
			<div class="shaded padded">
				<a href="/">Home</a><br />
				<a href="/user/signup">Register</a><br />
				<a href="/game/create">Create Character</a><br />
				<a href="/forum">Forum</a><br />
				<a href="/maps">World Maps</a><br />
				<a href="https://github.com/ScreamingHawk/polemios">GitHub</a><br />
				<a href="http://www.wikipedia.org">Wiki</a><br />
			</div>
		</div>
		<div class="col-md-6 col-sm-9 padded">
			<div class="shaded padded">
				<h2>Announcements</h2>
				<h4><b>Title of announcement</b></h4>
				<h5>Date/Month/Year</h5>
				<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br />
				<br />
				<h4><b>Older Announcement</b></h4>
				<h5>Older Date/Month/Year</h5>
				<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br />
				<br />
			</div>
		</div>
	</div>
</div>

<% include templates/chatbox %>
<% include templates/footer %>
