body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

align-top {
	vertical-align: top;
}

body.map{
	background-image: url(../img/mapj.jpg); 
	background-attachment: fixed;
	background-position: top center;
}
body.map a:link {
	color: white;
	text-decoration: none;
}
body.map a:visited {
	color: white;
	text-decoration: none;
}
body.map a:hover {
	color: #990000;
	text-decoration: none;
}
body.map h1 { 
	font-size: 48;
	color: white;
	
}
body.map h2 {
	color: white;
}
body.map h4 {
	color: white;
	font-style: bold; 
	text-decoration: underline;
}
body.map h5 { 
	color: white;
	font-style: italic; 
}
body.map p {
	color: white;
}

.shaded {
	background: rgb(30, 30, 30);	
	background: rgba(0, 0, 0, 0.7);
}

.padded {
	padding: 10px;
}

.chatbox {
	background: white;
	border-radius: 4px;
	height: 100px;
	margin-bottom: 5px;
	padding: 5px;
	overflow-y: scroll;
}

.chatbox ul {
	list-style: none;
	padding-left: 0;
}

.chatbox .user {
	font-weight: bold;
	text-decoration: underline;
	color: black;
}

.chatbox .text {
	color: #333;
}

.chatbox .connect,
.chatbox .disconnect {
	font-style: italic;
}