<% include templates/header %>
<% include templates/banner %>
<% include templates/errorBanner %>

<div class="container">
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-6">
			<h1>Sign In</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form" method="POST">
						<div class="form-group">
							<label for="username">Username</label>
							<input class="form-control" placeholder="Username" type="text" name="username" id="username" required="required" />
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input class="form-control" placeholder="Password" type="password" name="password" id="password" required="required" />
						</div>
						
						<button type="button" class="btn btn-success" onclick="return formhash(this.form, this.form.password);">Log in</button>
					</form>
				</div>
				<div class="panel-footer">
					<ul>
						<li>Usernames may contain only digits, upper and lower case letters and underscores</li>
						<li>Emails must have a valid email format</li>
						<li>Passwords must be at least 6 characters long</li>
						<li>Your password and confirmation must match exactly</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Trust issues?</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>Your password is encrypted client side</li>
						<li>Passwords are encrypted again for storage as a salted hash</li>
						<li>We won't even spam your email address</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<p>Return to the <a href="/">home page</a>.</p>
</div>

<% include templates/footer %>