<% include ../templates/header %>
<% include ../templates/banner %>

<div id="gameContainer" class="container">
	<% include ../templates/game/play %>
</div>

<% include ../templates/chatbox %>
<% include ../templates/footer %>