<% include ../templates/header %>
<% include ../templates/banner %>
<% include ../templates/errorBanner %>

<div id="gameContainer" class="container">
	<% include ../templates/play %>
</div>

<% include ../templates/chatbox %>
<% include ../templates/footer %>